#imgLupa{
    margin-left: -20px;
    margin-top: -3px;
}

button{
    background-color: #034051;
    border: none;
}

#categoria{
    color: #ffffff;
    background-color: #00AD90;
    padding: 3px;
}