<section class="row">
   <div class="col-md-3">
      <ac-sidebar>
         <li class="nav-item">
            <a  class="nav-link" (click)="inicio()">
              Inicio
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['meusdados']">
              Meus Dados
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['mensalidade']">
              Mensalidade
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['resgate']">
              Resgastes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['treino']">
              Meus Treinos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['home']" (click)="logout()">
              Sair
            </a>
          </li>
      </ac-sidebar>
   </div>
   <div class="col-md-9">
      <div class="container">
         <ac-painel></ac-painel>
      </div>
   </div>
</section>