<ac-template [titulo]="'RESGATE DE BRINDES E PREMIAÇÕES'">
    <section class="bg-secondary p-3" *ngIf="count == 0; else hasbrinde">
        SEM BRINDES PARA RESGATAR
    </section>
    <ng-template #hasbrinde >
        <section class="bg-title p-2">
            VOCÊ POSSUI (0{{count}}) BRINDE PARA RESGATAR
        </section>
        <div class="container bg-premio">
            <section class="row p-2">
                <div class="col-md-3">
                    <img src="../../../../assets/img/afrodite.jpeg" width="140" height="90" alt="">
                </div>
                <div class="col-md-9 bg-white text-dark">
                    <div class="row pl-2">
                        <div class="pb-1">
                            Parabéns! Você ganhou um afrodite
                        </div>
                        <div class="pb-1">
                            (01) Coqueteleira Grande da Marca Zeruella Titanium
                        </div>
                        <div class="mt-1">
                            Faça a solicitação do seu brinde na recepção da sua academia
                        </div>
                    </div>
                
                    
                </div>
            </section>
        </div>


    </ng-template>
</ac-template>