<header>
    <div class="row">
        <div class="col-lg-8">
            <img src="../../../assets/img/logotipo.png" alt="Academia-Olimpo" id="logoLogo">
        </div>
        <div class="col-lg-4" hideIfLogged>
            <nav class="nav nav-bar">
                <ul>
                    <a [routerLink]="['']" class="nav-link">Ínicio</a>
                </ul>
                <ul>
                    <a [routerLink]="['planos']" class="nav-link">Planos</a>
                </ul>
                <ul>
                    <a [routerLink]="['horarios']" class="nav-link">Horários</a>
                </ul>
                <ul>
                    <a [routerLink]="['duvidas']" class="nav-link">Dúvidas</a>
                </ul>
                <ul>
                    <a  [routerLink]="['login']" class="nav-link">LOGIN</a>
                </ul>
            </nav>
        </div>
    </div>
</header>
