.bg-escuro{
    background-color: #034051;
}

.btn-aulasandamento{
    color: #ffffff;
    border: 1px solid aqua;
}

.user-name{
    color: aqua; 
    margin-left: 5px;
}

.color-font{
    color: #00FF7F;
}